
#header.text-centered
	%h1 SupFixCalendar
	%h4.subheader Les emplois du temps de SUPINFO, enfin à la bonne heure !

.row
	.twothird.centered
		= form_tag "home/file_upload", :multipart => true , :class => "forms" do 
			%fieldset
				%ul
					%li.custominput
						%label.bold{"for" => "ics"} Your .ics
						= file_field_tag "ics", :size => "40"
					%li
						= submit_tag 'Go !', :class => "btn"
 
