// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wrapper {
	margin: auto;
	padding: 36px 10px;
}

#header {
	overflow: hidden;
	margin-bottom: 1.5em;
	border-bottom: 1px solid #eee;
}

#footer {
	overflow: hidden;
	margin-top: 1.5em;
	border-top: 1px solid #eee;
}

.bg-blue {background-color:#7e9ec7;}
.bg-white{background-color:white;}