!!!5
%html
	%head
		%title SupFixCalendar
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body.bg-blue
		%a{"href" => "https://github.com/NotGrm/SupFixCalendar"}
			%img{"style" => "position: absolute; top: 0; left: 0; border: 0;", "src" => "https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png", "alt" => "Fork me on GitHub"}
		.row
			.twothird.centered.bg-white
				= yield
				%hr
				%footer
					%cite.row
						.twofifth.push-threefifth
							D'après une idée originale de 
							=link_to "Pierrick Rouxel", "http://pierrickrouxel.fr"

