!!!5
%html
	%head
		%title SupFixCalendar
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body.bg-blue
		.row
			.twothird.centered.bg-white
				= yield
				%hr
				%footer
					%cite.row
						.twofifth.push-threefifth
							D'après une idée originale de 
							=link_to "Pierrick Rouxel", "#"

