!!!5
%html
	%head
		%title SupFixCalendar
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		.row
			.twothird.centered
				= yield
		%hr
		%footer
			%cite.row
				.quarter.push-threequarter
					D'après une idée originale de 
					=link_to "Pierrick Rouxel", "#"

